
h1{
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 1.5px;
  font-weight: bold;
}

h3{
  font-family: 'Montserrat', sans-serif;
}

.jumbotron{
  background-color: #ffc1f4;
  border: 5px solid #eface3;

}

.instructions{
  background-color: #fcf34e;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 5px solid #f4e838;
}

.randomScore{
  background-color: #43e050;
  border: 5px solid #2cd638;
  border-radius: 10px;
  line-height: 50px;
  margin-bottom: 10px;
  padding: 5px 0 5px 0;
}


.resetButton{
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  background-color: #28c7d6;
  border: 5px solid #1fb8c6;
  padding: 20px 10px 20px 10px;
  border-radius: 10px;
}
#random-score{
  font-size: 28px;
}
.tally{
  padding: 5px 0 5px 0;
  background-color: #43e050;
  border: 5px solid #2cd638;
  /*background-color: #28c7d6;
  border: 5px solid #1fb8c6;*/
  border-radius: 10px;
}

.jewel-row{
  margin-left: 30px;
  margin-bottom: 20px;

  padding-left: 40px;

}

.crystalImage{
  margin-left: 10px;
  margin-right: 10px;
}

#totalScore{
  font-size: 20px;

}

.user-score-div{
  margin: 10px 0 20px 30px;
  padding: 10px 10px 5px 0;
  background-color: #f97054;
  border: 5px solid #e55f44;
  border-radius: 10px;

  text-align: center;
  width: 95%;

}
ul li{
  list-style: none;
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
}
